.header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0));
}

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: -8px;
    font-size: 24px;
    font-weight: 700;
    color: rgb(200, 214, 229);
    letter-spacing: -1px;
}

.navigationMenu {
    display: flex;
    gap: 48px;
    color: rgb(200, 214, 229, 0.9);
    font-weight: 700;
    letter-spacing: -1px;
}