.magic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
}

.aboutText {
    display: block;
    text-align: justify;
    width: 50%;
    margin: auto;
    font-weight: 700;
    color: #fafafa;

}

.highlightedText {
    display: inline;
    color: #7d5fff;
}