.accordionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.accordionItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    cursor: pointer;
    color: #fafafa;
    max-width: 800px;
    width: 100%;
    border-bottom: 1px solid #fafafa50;
    padding: 10px 0px;
}

.accordionTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding: 20px 0px;
    width: 100%;
}

.accordionContent {
    display: none;
    padding-bottom: 20px;
    font-size: 16px;
}

.show {
    display: block;
}

.hide {
    display: none;
}