.sectionList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-direction: column;
    padding-top: 100px;
}

.infoWrapper {
    padding-top: 50px;
}

.infoImage {
    padding-right: 10px;
    height: auto;

}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fafafa;
}

.info p {
    width: 50%;
    height: auto;
    text-align: center;
    font-size: 16px;
    opacity: 90%;
    color: #fafafa;
    font-weight: 100;
}

.info h1 {
    text-align: center;
}

.faqWrapper {
    padding-bottom: 100px;
}

.faqTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 30px;
}


@media (max-width: 768px) {
    .info p {
        width: 100%;
    }

    .infoWrapper {
        padding: 8px;
    }

    .infoImage {
        width: 100px;
    }

    .faqWrapper {
        padding: 0 20px;
    }
}