.sectionList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-direction: column;
    padding-top: 100px;
}

.infoWrapper {
    padding-top: 50px;
}

.infoImage {
    padding-right: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fafafa;
}

.info p {
    width: 50%;
    height: auto;
    text-align: center;
    font-size: 16px;
    opacity: 90%;
    color: #fafafa;
    font-weight: 100;
}