.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(200, 214, 229, 0.8);

}

.socialList {
    display: flex;
    gap: 10px;
    list-style-type: none;
}