.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fafafa;

}

.socialList {
    display: flex;
    gap: 10px;
    list-style-type: none;
    width: 100px;
}