.status {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 150px;
    gap: 30px;
}

.statusBar {
    height: 15px;
    width: 700px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}


.progress {
    height: 100%;
    background-color: #b18cd8;
    transition: width 0.5s ease-in-out;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .status {
        padding: 0px 8px;

    }
}