.sectionItem {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}


.sectionItem>div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.sectionItemImageCol {
    flex-shrink: 0;
    gap: 100px;
}

.info {
    font-size: 16px;
    align-items: start !important;
    padding-right: 100px;
}

.image {
    width: auto;
}

@media (max-width: 768px) {
    .sectionItem {
        flex-direction: column;
        padding: 0 20px;
    }

    .sectionItem>div {
        width: 100%;
    }

    .info {
        padding-right: 0px;
    }

    .image {
        width: 180px;
    }

    .sectionItemImageCol {
        margin-bottom: 40px;
    }
}