.questionWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 8px;
}

.title {
    width: 100%;
    text-align: start;
    margin: 10px 0;
    color: #b18cd8;
    font-size: medium;
    font-weight: 400
}

.question {
    width: 100%;
    text-align: start;
    margin-bottom: 50px;
}

.optionsList {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.optionsList li {
    margin-bottom: 30px;
}