.container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(200, 214, 229);
    border-radius: 4px;
    padding: 20px;
    width: 100px;
    height: 100px;
    margin: 20px;
    color: rgb(200, 214, 229);
    font-weight: 700;
    text-align: center;
    align-items: center;
    justify-content: center;

}