body {
  background-color: #141414;
  font-size: 16px;
  color: rgb(200, 214, 229);

}

.contentWrapper {
  min-height: calc(100vh - 164px);
}

.container {
  /* display: grid;
  grid-template-columns: 1fr min(1440px, 94%) 1fr;
  grid-template-rows: 96px auto 72px; */
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container>* {
  grid-column: 2;
}

.container>.fluid {
  grid-column: 1 / -1;
}